{{#each hidden}}
<dialog id="file_dialog">
    <form method="GET">
        Nazwa nowego pliku w <br>
        <input type="text" name="nazwa"><br>
        <input type="hidden" name="sciezka" value="{{sciecha}}">
        <button type="submit" id="OK" formaction="/Tworzenie_pliku?nazwa=">OK</button>
        <button id="Cancel">Cancel</button>
    </form>
</dialog>

<dialog id="folder_dialog">
    <form method="GET">
        Nazwa nowego folderu w <br>
        <input type="text" name="nazwa"><br>
        <input type="hidden" name="sciezka" value="{{sciecha}}">
        <button type="submit" id="OK" formaction="/Tworzenie_folderu?nazwa=">OK</button>
        <button id="Cancel">Cancel</button>
    </form>
</dialog>

<form enctype="multipart/form-data" enc method="POST" action="/Upload_two" class="uploadzik">
    <input type="file" multiple required accept="image/*" name="filesupload"><br>
    <input type="hidden" name="sciezka" value="{{sciecha}}">
    <button class="upload_button" type="submit" name="przycisk">Upload</button>
</form>
{{/each}}