<form action="/login" method="POST">
    <input type="text" placeholder="Login" name="Login">Login uzytkownika
    <input type="password" placeholder="Haslo" name="Haslo">Haslo uzytkownika
    <button type="submit">ZALOGUJ SIE</button>
</form>