{{#if wiadomosc}}
<h1>{{wiadomosc}}</h1>
{{/if}}
<form action="/login" method="POST">
    <input type="text" placeholder="Login" name="Login">Login uzytkownika
    <input type="password" placeholder="Haslo" name="Haslo">Haslo uzytkownika
    <button type="submit">ZALOGUJ SIE</button>
</form>

<a href="/register_redirect">Nie masz konta? Załóż je tutaj</a>