{{#if wiadomosc}}
<h1>{{wiadomosc}}</h1>
{{/if}}
<form action="/register" method="POST">
    <input type="text" placeholder="Login" name="Login">Login uzytkownika
    <input type="password" placeholder="Haslo" name="Haslo">Haslo uzytkownika
    <button type="submit">ZAREJESTRUJ SIE</button>
</form>