<div class="wszystko">
    <div class="Usuntabele_dwa">CUMCUMCUMCUMCUMCUMFEWFGLKRENJFWHIROGUITRHIEWEBGRDT</div>
    <div class="edit_area">
        <div class="nazwa_pliku"></div>
        <div class="line_and_text">
            <div class="line_counter"></div>
            <div class="text_area">
                <textarea>{{zawartosc_pliku}}</textarea>
            </div>
        </div>
        <form method="GET" action="/Cos">
            <button type="submit">Zapisz zmiany w pliku</button>
        </form>
    </div>

</div>

<script src="skryptyjs/textarea.js"></script>