<div class="wszystko">
    <p id="sciezka" style="display: none;">{{sciezka}}</p>
    <div class="Usuntabele_dwa">
        <button id="font_mniejszy" onclick="Font_mniejszy()">font - </button>
        <button id="kolory">kolory </button>
        <button id="font_wiekszy" onclick="Font_wiekszy()">font + </button>
    </div>
    <div class="edit_area">
        <div class="nazwa_pliku"></div>
        <div class="line_and_text">
            <div class="line_counter"></div>
            <div class="text_area">
                <textarea id="textarea">{{zawartosc_pliku}}</textarea>
            </div>
        </div>
        <button id="zawartosc" onclick="Zapis()">Zapisz zmiany w pliku</button>
    </div>

</div>
<script src="skryptyjs/textarea.js"></script>