<div class="wszystko">
    <div class="Usuntabele_dwa">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, cupiditate officia?
        Molestias eius quis veniam sed. Quam unde aliquid delectus! Nostrum veritatis corporis accusamus doloremque
        fugit at voluptates nihil vel.</div>
    <div class="edit_area">
        <div class="nazwa_pliku"></div>
        <div class="line_and_text">
            <div class="line_counter"></div>
            <div class="text_area">
                <textarea id="textarea">{{zawartosc_pliku}}</textarea>
            </div>
        </div>

        <button name="zawartosc" onclick="Test()">Zapisz zmiany w pliku</button>

    </div>

</div>

<script src="skryptyjs/textarea.js"></script>