<div class="multiupload">
    <h1>multiupload</h1>
    <div class="uploadzik">
        <form enctype="multipart/form-data" method="POST" action="/Upload" class="uploadzik">
            <input type="file" multiple required accept="image/*" name="filesupload"><br>
            <button class="upload_button" type="submit" name="przycisk">Upload</button>
        </form>
    </div>
</div>