img {
    width: 64px;
    height: 64px;
}

.wszystko_dwa {
    width: 100vw;
}

.wszystkie_pliki {
    width: 50vw;
    display: flex;
}

.tabela {
    width: 100%;
    text-align: center;
}

.headersy {
    text-align: center;
}

input {
    margin-bottom: 10px;
}

.upload_button {
    margin-top: 10px;
    width: 150px;
}

.multiupload {
    height: 100vh;
    background-color: grey;
    width: 300px;
    text-align: center;
}

.uploadzik {
    margin-left: 200px;
}


th {
    padding-right: 20px;
    padding-left: 50px;
}

.wszystko {
    display: flex;
}





nav {
    width: 100%;
    background-color: darkblue;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}